.userTab {
  width: 300px;
  height: 69px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

.userImg {
  width: 52px;
  height: 52px;
  margin: 9px 0 0 15px;
  position: absolute;
  border-radius: 50%;
}

.userNameText {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
  width: 135px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: 21px;
  left: 81px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.userNameText:after {
  content: ''; /* Выводим элемент */
  position: absolute; /* Абсолютное позиционирование */
  right: 0; top: 0; /* Положение элемента */
  width: 40px; /* Ширина градиента*/
  height: 100%; /* Высота родителя */
  /* Градиент */
  background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}

.itsYou {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 11px;
  position: absolute;
  left: 97px;
  top: 10px;
  text-transform: uppercase;
  line-height: 16px;
}

.staff {
  font-weight: 300;
  position: absolute;
  font-size: 10px;
  top: 49px;
  left: 97px;
}

.removeIcon {
  position: absolute;
  left: 245px;
  top: 18px;
  width: 34px;
  opacity: 0.7;
  cursor: pointer;
}

.marquee {
  width: 145px;
  white-space: nowrap;
  position: absolute;
  top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-left: 100px;
}

.marquee:after {
  content: ''; /* Выводим элемент */
  position: absolute; /* Абсолютное позиционирование */
  right: 0; top: 0; /* Положение элемента */
  width: 40px; /* Ширина градиента*/
  height: 100%; /* Высота родителя */
  /* Градиент */
  background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}
