* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Light", sans-serif;
  background-color: #fff;
}

// #root {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }