:root {
  --rad: 0.7rem;
  --color-brand: #57bd84;
  --btn-width: 6rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.search-form {
  position: relative;
  width: var(--width-forms);
  background: var(--color-brand);
  border-radius: var(--rad);
}

.search-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;
}
