.header-nav {
  width: 300px;
  min-height: 50px;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    text-decoration: none;
  }

  a.active {
    color: red;
  }

}

.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}