.cardWrapper {
  width: 100px;
  height: 160px;
  background-color: #fff;
  border-radius: 13px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.text {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 161px;
  text-align: center;
}

.number {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  width: 20px;
  height: 20px;

}

.up {
  left: 8px;
  top: 4px;
}

.down {
  transform: rotate(180deg);
  left: 66px;
  top: 132px;
}

.input {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
}

.removeIcon {
  position: absolute;
  left: 65px;
  margin: 8px;
  cursor: pointer;
}

.active {
  width: 20px;
  height: 20px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

input {
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  perspective: 500px;
  backface-visibility: hidden;
}

.front, .back {
  position: absolute;
  width: 100px;
  height: 160px;
  top: 0;
  left: 0;
  transition: 1s;
  backface-visibility: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #EEEEEE;
  border-radius: 13px;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background: url(/assets/images/card-faces/red.png);


}

.flip {
  transform: rotateY(360deg);
}

.flipBack {
  transform: rotateY(180deg);
}

.border {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #EEEEEE;
}
