.pagination-form {
  background-color: #efe3e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-forms);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: var(--rad);

  label {
    display: block;
    min-width: 40%;

    
    input {
      width: 3rem;
      background-color: #fff;
      border-radius: var(--rad);
      text-align: center;
    }

  }

}