.gamePageWrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 78vh;
}

.gamePageHeader {
  text-align: center;
}

.gameWrapperLeft {
  width: 972px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.gameWrapperRight {
  display: flex;
  width: 468px;
}

.scoreColumn, .playersColumn {
  width: 50%;
}

.headerText {
  text-align: center;
  font-size: 24px;
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-top: 26px;
}
