
.sorting-section {
  min-height: 50px;
}

.pagination-section {
  min-height: 50px;
}

.controls {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-result-container {
  min-height: 900px - 300px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}