.LobbyChat {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
  position: absolute;
  right: 0;
  top: 70px;
  max-width: 397px;
  background: white;
}

.wrapperChat{
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 430px;
  height: 70vh;
  position: relative;
  visibility: visible;
  top: 0;
  opacity: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  transition: opacity 1s;
  background-color: #fff;
  z-index: 3;
}
.chatMassage{
  display: flex;
  margin-bottom: 10px;

  &__text{
    word-wrap: break-word;
    padding: 10px;
    width: 180px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0 0 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
  }
  &__player{
    width:  180px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 50px;
    padding: 5px;
    align-items: center;
    display: flex;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
  }
}
.greyBackground {
  position: relative;
  background-color: #EEEEEE;
}
.massageSend{
display: flex;
  &__input{
    width: 270px;
    height: 45px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 24px;
    align-items: center;
    color: #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 8px;
  }
  &__button{
    font-family: 'Ruda', sans-serif;
    width: 160px;
    height: 45px;
    background-color: #2B3A67;
    font-size: 24px;
    color: #fff;
    border: 1px solid #496A81;
    border-radius: 4px;
    text-shadow: 0 1px 2px #000000;
    cursor: pointer;
  }
}

.LobbyChatOff {
//  display: none;
//  position: relative;
//  top: -1000px;
  transition: 1s;
  opacity:0;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 70px;
  max-width: 397px;
}

.circular {
  width: 6px;
  height: 6px;
  background-color: greenyellow;
  position: absolute;
  left: 162px;
  border-radius: 50%;
  top: 44px;
}

.none {
  display: none;
}

.labelSendMessage {
  margin-left: 0;
}

.welcomeChat {
  display: block;
  height: 200px;
  padding-top: 100px;
  text-align: center;
  font-size: 17px;
  font-family: 'Ruda', sans-serif;
}
